<f:if condition="{content.0.image}">
    <f:for each="{content}" as="data">
        <div class="panel-image" style="background-image: url({f:uri.image(src: '{data.image.0.originalFile.uid}')});">
            <div class="panel-image-prop" style="padding-top: {data.flexform_paddingTop}"></div>
        </div>
    </f:for>
</f:if>
<!-- .panel-image -->

<div class="panel-content">
    <div class="wrap">
        <f:format.raw>{data.tx_gridelements_view_columns.102}</f:format.raw>
    </div>
</div><!-- .entry-content -->