<f:layout name="Email" />
<f:section name="main">

    <p>Bonjour, {firstName} {lastName}</p>
    <p>
        A ce jour, vous n'êtes pas à jour de votre cotisation pour l'association ANDPR.
        Merci de procéder à la régularisation de votre cotisation le tôt possible.<br />
        A défaut de paiement au {deadlinePayTimeTwo} de cette année, nous considérons que vous ne souhaitez plus adhérer à notre association.
    </p>

    <p>
        Cordialement
        Le Bureau de l'ANDPR
    </p>

</f:section>
