<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Appeal</h1>

    <f:flashMessages />

    <table  class="tx_andprmembers" >
        <tr>
            <th><f:translate key="tx_andprmembers_domain_model_appeal.name" /></th>
            <th><f:translate key="tx_andprmembers_domain_model_appeal.description" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{appeals}" as="appeal">
            <tr>
                <td><f:link.action action="show" arguments="{appeal : appeal}">{appeal.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{appeal : appeal}">{appeal.description}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{appeal : appeal}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{appeal : appeal}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Appeal</f:link.action>
</f:section>
</html>
