<thead>
<tr>
    <th><f:translate key="tx_andprmembers.number" /></th>
    <th><f:translate key="tx_andprmembers_domain_model_user.last_name" /></th>
    <th><f:translate key="tx_andprmembers_domain_model_user.first_name" /></th>
    <th><f:translate key="tx_andprmembers_domain_model_user.email" /></th>
    <th><f:translate key="tx_andprmembers.tgi" /></th>
    <th><f:translate key="tx_andprmembers.appeal" /></th>
    <th><f:translate key="tx_andprmembers_domain_model_user.note" /></th>
    <th><f:translate key="tx_andprmembers_domain_model_user.membership_fee" /></th>
    <f:comment>
        <th> </th>
        <th> </th>
    </f:comment>
</tr>
</thead>
