/* Header
----------------------------------------------------------------------------------------- */

.site-branding-text {
    color: #fff;
    font-size: 18px;
}
.panel-image {
    background-attachment: fixed;
}

/* Content
----------------------------------------------------------------------------------------- */

.content-area a {
    text-decoration: underline;
}
.container {
    max-width: 1000px;
    padding-left: 3em;
    padding-right: 3em;
}
.blue-background {
    background-color: #aadaf8;
}

h1 {
    color: #222;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    clear: both;
    line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 1.5em 0 0;
}

/* Login form */
p.error-message {
    color: #ff0000;
}
h3.standard-message {
    font-size: 18px;
}
p.standard-message {
    font-size: 16px;
}
.tx-felogin-pi1 form fieldset legend {
    display: none;
}
.tx-felogin-pi1 form fieldset {
    border: none;
}

.tx-felogin-pi1 input[type="text"],
.tx-felogin-pi1 input[type="password"]{
    margin-bottom: 15px;
}


/* Footer
----------------------------------------------------------------------------------------- */
.mail-link {
    font-size: 0;
}

