<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
			xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
			data-namespace-typo3-fluid="true">


<f:layout name="default" />

<f:section name="content">
	<article id="post-7" class="twentyseventeen-panel  post-7 page type-page status-publish has-post-thumbnail hentry">
		{content_1 -> f:format.raw()}
	</article>
	<article id="panel1" class="twentyseventeen-panel  post-10 page type-page status-publish has-post-thumbnail hentry">
		{content_2 -> f:format.raw()}
	</article>
	<article id="panel2" class="twentyseventeen-panel  post-10 page type-page status-publish has-post-thumbnail hentry">
		{content_3 -> f:format.raw()}
	</article>
	<article id="panel3" class="twentyseventeen-panel  post-10 page type-page status-publish has-post-thumbnail hentry">
		{content_4 -> f:format.raw()}
	</article>
	<article id="panel4" class="twentyseventeen-panel  post-10 page type-page status-publish has-post-thumbnail hentry">
		{content_5 -> f:format.raw()}
	</article>

</f:section>
