<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
			xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
			data-namespace-typo3-fluid="true">


<f:layout name="default" />

<f:section name="content">
	<article id="post-7" class="twentyseventeen-panel  post-7 page type-page status-publish has-post-thumbnail hentry">

		<div class="panel-image"
			 style="background-image: url(EXT:tmpl/Resources/Public/Images/Palais-de-justice-LAON-Ancien-épiscopat.jpg);">
			<div class="panel-image-prop" style="padding-top: 66.2%"></div>
		</div><!-- .panel-image -->

		<div class="panel-content">
			<div class="wrap">
				<header class="entry-header">
					<h2 class="entry-title">Accueil</h2>

				</header><!-- .entry-header -->

				<div class="entry-content">
					{content_1 -> f:format.raw()}
				</div>
			</div>
		</div>
	</article>
	<article id="panel1" class="twentyseventeen-panel  post-10 page type-page status-publish has-post-thumbnail hentry">
		<div class="panel-image"
			 style="background-image: url(EXT:tmpl/Resources/Public/Images/Annecy-Palais-de-justice-hiver.jpg);">
			<div class="panel-image-prop" style="padding-top: 66.25%"></div>
		</div><!-- .panel-image -->


		<div class="panel-content">
			<div class="wrap">
				<header class="entry-header">
					<h2 class="entry-title">Actualités</h2>

				</header><!-- .entry-header -->

				<div class="entry-content">

					{content_2 -> f:format.raw()}
				</div><!-- .entry-content -->
			</div>
		</div>
	</article>
	<article id="panel3"
			 class="twentyseventeen-panel  post-8 page type-page status-publish post-password-required hentry">


		<div class="panel-image" style="background-image: url(EXT:tmpl/Resources/Public/Images/Palais-de-justice-Annecy.png);">
			<div class="panel-image-prop" style="padding-top: 56.369426751592%"></div>
		</div><!-- .panel-image -->


		<div class="panel-content">
			<div class="wrap">
				<header class="entry-header">
					<h2 class="entry-title">Protégé&nbsp;: Informations Adhérents</h2>

				</header><!-- .entry-header -->

				<div class="entry-content">
					{content_3 -> f:format.raw()}
				</div><!-- .entry-content -->
			</div>
		</div>
	</article>
	<article id="panel4"
			 class="twentyseventeen-panel  post-9 page type-page status-publish has-post-thumbnail hentry">


		<div class="panel-image" style="background-image: url(EXT:tmpl/Resources/Public/Images/Palais-justice-Montpellier.jpg);">
			<div class="panel-image-prop" style="padding-top: 66.470588235294%"></div>
		</div><!-- .panel-image -->


		<div class="panel-content">
			<div class="wrap">
				<header class="entry-header">
					<h2 class="entry-title">Contacts</h2>

				</header><!-- .entry-header -->

				<div class="entry-content">
					{content_4 -> f:format.raw()}
				</div><!-- .entry-content -->
			</div>
		</div>
	</article>

</f:section>
