<div class="navigation-top">
    <f:cObject typoscriptObjectPath="lib.banner" />

    <div class="wrap">
        <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Menu supérieur">
            <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
                <svg class="icon icon-bars" aria-hidden="true" role="img">
                    <use href="#icon-bars" xlink:href="#icon-bars"></use>
                </svg>
                <svg class="icon icon-close" aria-hidden="true" role="img">
                    <use href="#icon-close" xlink:href="#icon-close"></use>
                </svg>
                Menu
            </button>

            <div class="menu-menu-superieur-container">
                <ul id="top-menu" class="menu">
                    <li id="menu-item-18"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
                        <a href="#" aria-current="page">Accueil</a></li>
                    <li id="menu-item-20" class="menu-item"><a href="#">Actualités</a></li>
                    <li id="menu-item-45" class="menu-item"><a href="#">Informations Générales
                        <svg class="icon icon-angle-down" aria-hidden="true" role="img">
                            <use href="#icon-angle-down" xlink:href="#icon-angle-down"></use>
                        </svg>
                    </a>
                        <button class="dropdown-toggle" aria-expanded="false">
                            <svg class="icon icon-angle-down" aria-hidden="true" role="img">
                                <use href="#icon-angle-down" xlink:href="#icon-angle-down"></use>
                                <span class="svg-fallback icon-angle-down"></span></svg>
                            <span class="screen-reader-text">Ouvrir le sous-menu</span></button>
                        <ul class="sub-menu">
                            <li id="menu-item-445" class="menu-item"><a href="#">Revue de Presse</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-19" class="menu-item"><a href="#">Informations Adhérents</a></li>
                    <li id="menu-item-163" class="menu-item"><a href="#">Nos liens</a></li>
                    <li id="menu-item-434" class="menu-item"><a href="#">Cotisations 2020</a></li>
                    <li id="menu-item-21" class="menu-item"><a href="#">Contacts</a></li>
                </ul>
            </div>
            <a href="#content" class="menu-scroll-down">
                <svg class="icon icon-arrow-right" aria-hidden="true" role="img">
                    <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use>
                </svg>
                <span class="screen-reader-text">Descendre au contenu</span></a>
        </nav><!-- #site-navigation -->
    </div><!-- .wrap -->
</div><!-- .navigation-top -->