<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="wrap">
		<aside class="widget-area" role="complementary" aria-label="Pied de page">
			<div class="widget-column footer-widget-1">
				<section id="text-4" class="widget widget_text">
					<div class="textwidget"></div>
				</section>
			</div>
			<f:cObject typoscriptObjectPath="lib.copyright" />
		</aside><!-- .widget-area -->
		<nav class="social-navigation" role="navigation" aria-label="Menu de liens sociaux de pied de page">
			<div class="menu-menu-des-liens-de-reseaux-sociaux-container">
				<ul id="menu-menu-des-liens-de-reseaux-sociaux" class="social-links-menu">
					<li class="menu-item">
						<f:cObject typoscriptObjectPath="lib.mailLink" />
					</li>
				</ul>
			</div>
		</nav><!-- .social-navigation -->
		<div class="site-info">
			<f:cObject typoscriptObjectPath="lib.siteInfo" />
		</div><!-- .site-info -->
	</div><!-- .wrap -->
</footer><!-- #colophon -->