		<div class="custom-header">

			<div class="custom-header-media">
				<f:cObject typoscriptObjectPath="lib.topImage" />
			</div>

			<div class="site-branding" style="margin-bottom: 121px;">
				<div class="wrap">

					<f:cObject typoscriptObjectPath="lib.logo" />
					<div class="site-branding-text">
						<h1 class="site-title"><a href="#" rel="home">ASSOCIATION NATIONALE DES DÉLÉGUÉS DU PROCUREUR DE
							LA RÉPUBLIQUE</a></h1>

						<p class="site-description">LOI 1901</p>
					</div><!-- .site-branding-text -->

				</div><!-- .wrap -->
			</div><!-- .site-branding -->

		</div><!-- .custom-header -->