<div class="custom-header">

	<f:cObject typoscriptObjectPath="lib.topImage" />

	<div class="site-branding" style="margin-bottom: 121px;">
		<div class="wrap">

			<a href="#" class="custom-logo-link" rel="home">
				<f:cObject typoscriptObjectPath="lib.logo" /></a>>
			<div class="site-branding-text">
				<h1 class="site-title"><a href="#" rel="home">ASSOCIATION NATIONALE DES DÉLÉGUÉS DU PROCUREUR DE
					LA RÉPUBLIQUE</a></h1>

				<p class="site-description">LOI 1901</p>
			</div><!-- .site-branding-text -->


		</div><!-- .wrap -->
	</div><!-- .site-branding -->

</div><!-- .custom-header -->