<div class="custom-header">

	<div class="custom-header-media">
		<div id="wp-custom-header" class="wp-custom-header"><img
				src="image/cropped-1200px-Palais_de_Justice_Paris_June_2010.jpg"
				alt="ASSOCIATION NATIONALE DES DÉLÉGUÉS  DU PROCUREUR DE LA RÉPUBLIQUE"
				srcset="image/cropped-1200px-Palais_de_Justice_Paris_June_2010.jpg 2000w, image/cropped-1200px-Palais_de_Justice_Paris_June_2010-300x180.jpg 300w, image/cropped-1200px-Palais_de_Justice_Paris_June_2010-768x461.jpg 768w, image/cropped-1200px-Palais_de_Justice_Paris_June_2010-1024x614.jpg 1024w"
				sizes="100vw" width="2000" height="1200"></div>
	</div>

	<div class="site-branding" style="margin-bottom: 121px;">
		<div class="wrap">

			<a href="#" class="custom-logo-link" rel="home"><img src="image/cropped-logos_06-1.png"
																 class="custom-logo"
																 alt="ASSOCIATION NATIONALE DES DÉLÉGUÉS  DU PROCUREUR DE LA RÉPUBLIQUE"
																 srcset="image/cropped-logos_06-1.png 363w, image/cropped-logos_06-1-300x207.png 300w"
																 sizes="100vw" width="363" height="250"></a>
			<div class="site-branding-text">
				<h1 class="site-title"><a href="#" rel="home">ASSOCIATION NATIONALE DES DÉLÉGUÉS DU PROCUREUR DE
					LA RÉPUBLIQUE</a></h1>

				<p class="site-description">LOI 1901</p>
			</div><!-- .site-branding-text -->


		</div><!-- .wrap -->
	</div><!-- .site-branding -->

</div><!-- .custom-header -->