<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="firstName">
	<f:translate key="tx_andprmembers_domain_model_user.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_andprmembers_domain_model_user.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="email">
	<f:translate key="tx_andprmembers_domain_model_user.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="note">
	<f:translate key="tx_andprmembers_domain_model_user.note" />
</label><br />
	<f:form.textarea property="note" cols="40" rows="15" /><br />
<label for="contribution">
	<f:translate key="tx_andprmembers_domain_model_user.contribution" />
</label><br />
	<f:form.textfield property="contribution" /><br />
</html>