<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <div class="search-box">
        <f:form
            action="list"
            controller="User"
            name="certification"
            object="{user}">

            <div class="input-group mb-3">
                <f:form.textfield name="searchText" class="search-box__input" placeholder="{f:translate(id:'tx_andprmembers.search')}" />
                <div class="input-group-append">
                    <f:form.submit value="{f:translate(id:'tx_andprmembers.ok')}" class="search-box__btn btn "/>
                </div>
            </div>

        </f:form>
    </div>

    <f:if condition="{users}">
        <f:then>
            <f:if condition="{users->f:count()} > {settings.list.pagination.itemsPerPage}">
                <f:then>
                    <f:widget.paginate objects="{users}" as="paginatedUsers" configuration="{settings.list.pagination}">
                        <table  class="tx_andprmembers table" id="sort-table">
                            <f:render partial="User/Table/Thead" arguments="{_all}" />
                            <f:for each="{paginatedUsers}" as="user">
                                <f:render partial="User/Table/TableProperties" arguments="{_all}" />
                            </f:for>
                        </table>
                    </f:widget.paginate>
                </f:then>
                <f:else>
                    <table  class="tx_andprmembers table" id="sort-table">
                        <f:render partial="User/Table/Thead" arguments="{_all}" />
                        <f:for each="{users}" as="user">
                            <f:render partial="User/Table/TableProperties" arguments="{_all}" />
                        </f:for>
                    </table>
                </f:else>
            </f:if>


        </f:then>
        <f:else>
            There is no item records
        </f:else>
    </f:if>

    <script>
        $(document).ready(function () {
            $('#sort-table').DataTable({
                paging: false,
                searching: false,
                info: false
            });
        });
    </script>

</f:section>
</html>
